@media screen and (max-width: 568px){
    header li a{
        font-size: 15px;
    }

    header li{
        margin: 0 15px;
    }
}

@media screen and (max-width: 364px){
    header li a{
        font-size: 12px;
    }

    header li{
        margin: 0 7px;
    }
} 